<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h3 class="modal-title">Verfügbare Bridges</h3>
  </div>
  <div class="modal-body">

    <p ng-if="!bridges.length">keine Bridges vorhanden</p>

    <table class="table table-striped" ng-if="bridges.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>IP-Adresse</th>
          <th>MAC-Adresse</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="b in bridges">
          <td>{{ b.id }}</td>
          <td>{{ b.internalipaddress }}</td>
          <td>{{ b.macaddress }}</td>
          <td>{{ b.name }}</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="addBridge(b.internalipaddress)">Bridge hinzufügen</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p ng-if="bridges.length">
      Die Menge der angezeigten Informationen ist abhängig von der Firmware der Bridge.
    </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Abbrechen</button>
  </div>
</div>
