<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h3 class="modal-title">Jobs hinzufügen</h3>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <ui-select ng-model="result.selectedJobs" multiple="multiple">
        <ui-select-match placeholder="Jobs auswählen...">{{ $item.name }}</ui-select-match>
        <ui-select-choices repeat="a in jobs | filter:$select.search">
          {{ a.name }}
        </ui-select-choices>
      </ui-select>
    </div><!-- /.form-group -->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Abbrechen</button>
    <button type="button" class="btn btn-primary" ng-click="addJobs()">Hinzufügen</button>
  </div>
</div>
