<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h3 class="modal-title">Rollen ändern</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="checkbox" ng-repeat="role in roles">
        <label>
          <input type="checkbox" ng-model="roles[$index].selection">
          {{ role.text }}
        </label>
      </div>
    </div><!-- /.form-group -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Abbrechen</button>
    <button type="button" class="btn btn-primary" ng-click="updateRoles()">Bestätigen</button>
  </div>
</div>
