<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h3 class="modal-title">Szenarios hinzufügen</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <ui-select ng-model="result.selectedScenarios" multiple="multiple">
        <ui-select-match placeholder="Szenarios auswählen...">{{ $item.text }}</ui-select-match>
        <ui-select-choices repeat="scenario in scenarios | filter: $select.search">
          {{ scenario.text }}
        </ui-select-choices>
      </ui-select>
    </div><!-- /.form-group -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Abbrechen</button>
    <button type="button" class="btn btn-primary" ng-click="addScenarios()">Hinzufügen</button>
  </div>
</div>
