<div class="row">

  <div class="col-lg-6 col-xs-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Farbeinstellung testen</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div class="form-group">
          <label>Lampe(n)</label>
          <ui-select ng-model="test.lamps" multiple="multiple">
            <ui-select-match placeholder="Wähle mindestens eine Lampe aus...">{{ $item.name ? ($item.name + ' (id: ' + $item.id + ')') : ('id: ' + $item.id) }}</ui-select-match>
            <ui-select-choices repeat="a in lamps | filter:$select.search">
              {{ a.name ? (a.name + ' (id: ' + a.id + ')') : ('id: ' + a.id) }}
            </ui-select-choices>
          </ui-select>
        </div>

        <div>
          <div>
            <input type="checkbox" ng-model="test.scenarioConfig.lampOn" autocomplete="off">
            <label ng-if="test.scenarioConfig.lampOn">Lampe: Ein</label>
            <label ng-if="!test.scenarioConfig.lampOn">Lampe: Aus</label>
          </div>
          <div class="jh-box jh-scenario-config" ng-class="{'jh-hidden': !test.scenarioConfig.lampOn}">

            <div>
              <input type="checkbox" ng-model="test.scenarioConfig.onetimePulsationEnabled" autocomplete="off">
              <label>Einmaliges Pulsieren: </label>
              <span ng-if="test.scenarioConfig.onetimePulsationEnabled">Ein</span>
              <span ng-if="!test.scenarioConfig.onetimePulsationEnabled">Aus</span>
            </div>
            <div class="jh-box collapse" ng-class="{'in': test.scenarioConfig.onetimePulsationEnabled}">
              <!-- Farbwechsel beim Pulsieren -->
              <div>
                <input type="checkbox" ng-model="test.scenarioConfig.onetimePulsationColorChangeEnabled" autocomplete="off">
                <span>Farbiges Pulsieren: </span>
                <span ng-if="test.scenarioConfig.onetimePulsationColorChangeEnabled">Ein</span>
                <span ng-if="!test.scenarioConfig.onetimePulsationColorChangeEnabled">Aus</span>
              </div>
              <div class="collapse" ng-class="{'in': test.scenarioConfig.onetimePulsationColorChangeEnabled}">

                <div class="input-group">
                  <input colorpicker="hex" type="text" class="form-control" ng-model="test.scenarioConfig.onetimePulsationColorHex" />
                  <div class="input-group-addon">
                    <div style="width: 20px; height: 20px; background-color: {{ test.scenarioConfig.onetimePulsationColorHex }};"></div>
                  </div>
                </div><!-- /.input group -->

              </div>
            </div>


            <div>
              <input type="checkbox" ng-model="test.scenarioConfig.colorChangeEnabled" autocomplete="off">
              <label>Farbwechsel: </label>
              <span ng-if="test.scenarioConfig.colorChangeEnabled">Ein</span>
              <span ng-if="!test.scenarioConfig.colorChangeEnabled">Aus</span>
            </div>
            <div class="jh-box collapse" ng-class="{'in': test.scenarioConfig.colorChangeEnabled}">
              <div class="input-group">
                <input colorpicker="hex" type="text" class="form-control" ng-model="test.scenarioConfig.colorHex" />
                <div class="input-group-addon">
                  <div style="width: 20px; height: 20px; background-color: {{ test.scenarioConfig.colorHex }};"></div>
                </div>
              </div>
            </div>


            <div>
              <input type="checkbox" ng-model="test.scenarioConfig.brightnessChangeEnabled" autocomplete="off">
              <label> Helligkeitswechsel: </label>
              <span ng-if="test.scenarioConfig.brightnessChangeEnabled">{{ test.scenarioConfig.brightness / 254 * 100 | number : 1}}%</span>
              <span ng-if="!test.scenarioConfig.brightnessChangeEnabled">Aus</span>
            </div>
            <div class="jh-box collapse" ng-class="{'in': test.scenarioConfig.brightnessChangeEnabled}" ng-animate>
              <slider min="1" max="254" step="1" ng-model="test.scenarioConfig.brightness" data-slider-id="blue"></slider>
            </div>

          </div>

        </div>

      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary" ng-click="testScenario()">Testen</button>
        <button class="btn btn-default" ng-click="turnLampsOff()">Lampe(n) ausschalten</button>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->

</div><!-- /.row -->
