<div class="row">

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>{{ dashboard.bridgeCount }}</h3>
        <p>Bridges</p>
      </div>
      <div class="icon">
        <i class="ion ion-cube"></i>
      </div>
      <a href="#/bridgeManagement" class="small-box-footer">Verwalten <i class="ion ion-arrow-right-a"></i></a>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{ dashboard.availableLampCount }}</h3>
        <p>Verfügbare Lampen</p>
      </div>
      <div class="icon">
        <i class="fa fa-lightbulb-o"></i>
      </div>
      <a href="#/lampManagement" class="small-box-footer">Verwalten <i class="ion ion-arrow-right-a"></i></a>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{ dashboard.teamLampCount }}</h3>
        <p>Lampen des Teams</p>
      </div>
      <div class="icon">
        <i class="fa fa-lightbulb-o"></i>
      </div>
      <a href="#/buildAssignment" class="small-box-footer">Zuweisungen <i class="ion ion-arrow-right-a"></i></a>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{ dashboard.lampCount }}</h3>
        <p>Alle Lampen</p>
      </div>
      <div class="icon">
        <i class="fa fa-lightbulb-o"></i>
      </div>
      <div class="dashboard-item-footer">&ensp;</div>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{ dashboard.teamUserCount }}</h3>
        <p>Benutzer des Teams</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-stalker"></i>
      </div>
      <a href="#/userManagement" class="small-box-footer">Verwalten <i class="ion ion-arrow-right-a"></i></a>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{ dashboard.userCount }}</h3>
        <p>Alle Benutzer</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-stalker"></i>
      </div>
      <div class="dashboard-item-footer">&ensp;</div>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-olive">
      <div class="inner">
        <h3>{{ dashboard.teamJobCount }}</h3>
        <p>Vom Team überwachte Jobs</p>
      </div>
      <div class="icon">
        <i class="fa fa-tasks"></i>
      </div>
      <div class="dashboard-item-footer">&ensp;</div>
    </div>
  </div><!-- /.col -->

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-olive">
      <div class="inner">
        <h3>{{ dashboard.jobCount }}</h3>
        <p>Alle überwachten Jobs</p>
      </div>
      <div class="icon">
        <i class="fa fa-tasks"></i>
      </div>
      <div class="dashboard-item-footer">&ensp;</div>
    </div>
  </div><!-- /.col -->

</div><!-- /.row -->
