<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Verfügbare Lampen</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <button class="btn btn-success" style="margin-bottom: 15px;" ng-click="refresh()" ng-disabled="isRefreshing">Aktualisieren</button>

        <p ng-show="availableLamps.length < 1">keine Lampen vorhanden</p>

        <table class="table table-bordered table-striped" ng-hide="availableLamps.length < 1">
          <thead>
            <tr>
              <th>Hue-ID</th>
              <th>Name</th>
              <th>Typ</th>
              <th>Hersteller</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="l in availableLamps">
              <td>{{ l.uniqueId }}</td>
              <td>{{ l.name }}</td>
              <td>{{ l.type }}</td>
              <td>{{ l.manufacturerName }}</td>
              <td>
                <button class="btn btn-sm btn-default"
                  ng-click="pulseOnce(l.uniqueId)">Pulsieren lassen</button>
                <button class="btn btn-sm btn-default"
                  ng-click="takeLamp(l.uniqueId, l.name)"
                  ng-disabled="isTaking">Übernehmen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div><!-- /.col -->
</div><!-- /.row -->



<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Lampen meines Teams</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span ng-if="!lampData.searching" class="glyphicon glyphicon-search"></span>
              <img ng-if="lampData.searching" src="images/loading.gif" width="14px" height="14px"></img>
            </div>
            <input type="text" class="form-control" placeholder="Suchen" ng-model="searchItem" ng-change="lampData.computeSearch()">
          </div>
        </div>

        <div class="form-group">
          <label class="text-success">Anzahl: {{ teamLamps.length }}</label>
        </div>

        <p ng-show="teamLamps.length < 1">keine Lampen vorhanden</p>

        <table class="table table-bordered table-striped" ng-hide="teamLamps.length < 1">
          <thead>
            <tr>
              <th>Hue-ID</th>
              <th>Name</th>
              <th>Beginn</th>
              <th>Ende</th>
              <th>Jobs</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="l in teamLamps | filter:searchItem">
              <td>{{ l.hueUniqueId }}</td>
              <td>{{ l.name }}</td>
              <td>{{ l.workingStart | date:'HH:mm' }} Uhr</td>
              <td>{{ l.workingEnd | date:'HH:mm' }} Uhr</td>
              <td>{{ l.jobs.length }}</td>
              <td>
                <button class="btn btn-sm btn-default" ng-click="renameLamp(l.id, l.name)">Umbenennen</button>
                <button class="btn btn-sm btn-default" ng-click="pulseOnce(l.hueUniqueId)">Pulsieren lassen</button>
                <button class="btn btn-sm btn-default" ng-click="releaseLamp(l.id)">Freigeben</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->


  </div><!-- /.col -->
</div><!-- /.row -->
