<div class="jh-box-border">
  <label>{{ s.scenario.text }}</label>
  <remove-button class="pull-right" ng-click="removeScenario($parent.$index, s.scenario.name)"></remove-button>

  <div>
    <input type="checkbox" ng-model="s.lampOn" autocomplete="off">
    <label ng-if="s.lampOn">Lampe: Ein</label>
    <label ng-if="!s.lampOn">Lampe: Aus</label>
  </div>
  <div class="jh-box jh-scenario-config" ng-class="{'jh-hidden': !s.lampOn}">




    <div>
      <input type="checkbox" ng-model="s.onetimePulsationEnabled" autocomplete="off">
      <label>Einmaliges Pulsieren: </label>
      <span ng-if="s.onetimePulsationEnabled">Ein</span>
      <span ng-if="!s.onetimePulsationEnabled">Aus</span>
    </div>
    <div class="jh-box collapse" ng-class="{'in': s.onetimePulsationEnabled}">
      <!-- Farbwechsel beim Pulsieren -->
      <div>
        <input type="checkbox" ng-model="s.onetimePulsationColorChangeEnabled" autocomplete="off">
        <span>Farbiges Pulsieren: </span>
        <span ng-if="s.onetimePulsationColorChangeEnabled">Ein</span>
        <span ng-if="!s.onetimePulsationColorChangeEnabled">Aus</span>
      </div>
      <div class="collapse" ng-class="{'in': s.onetimePulsationColorChangeEnabled}">

        <div class="input-group">
          <input colorpicker="hex" type="text" class="form-control" ng-model="s.onetimePulsationColorHex" />
          <div class="input-group-addon">
            <div style="width: 20px; height: 20px; background-color: {{ s.onetimePulsationColorHex }};"></div>
          </div>
        </div><!-- /.input group -->

      </div>
    </div>





    <div>
      <input type="checkbox" ng-model="s.colorChangeEnabled" autocomplete="off">
      <label>Farbwechsel: </label>
      <span ng-if="s.colorChangeEnabled">Ein</span>
      <span ng-if="!s.colorChangeEnabled">Aus</span>
    </div>
    <div class="jh-box collapse" ng-class="{'in': s.colorChangeEnabled}">
      <div class="input-group">
        <input colorpicker="hex" type="text" class="form-control" ng-model="s.colorHex" />
        <div class="input-group-addon">
          <div style="width: 20px; height: 20px; background-color: {{ s.colorHex }};"></div>
        </div>
      </div>
    </div>





    <div>
      <input type="checkbox" ng-model="s.brightnessChangeEnabled" autocomplete="off">
      <label> Helligkeitswechsel: </label>
      <span ng-if="s.brightnessChangeEnabled">{{ s.brightness / 254 * 100 | number : 1}}%</span>
      <span ng-if="!s.brightnessChangeEnabled">Aus</span>
    </div>
    <div class="jh-box collapse" ng-class="{'in': s.brightnessChangeEnabled}" ng-animate>
      <slider min="1" max="254" step="1" ng-model="s.brightness" data-slider-id="blue"></slider>
    </div>

  </div>

</div>
