<div class="row" ng-show="isAdmin()">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Team hinzufügen</h3>
      </div><!-- /.box-header -->

      <!-- form start -->
      <form name="teamForm" novalidate>
        <div class="box-body">
          <div class="form-group" ng-class="{'has-error': teamForm.team.$invalid && teamForm.team.$touched, 'has-success': teamForm.team.$valid}">
            <label>Team-Name</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-group"></i>
              </div>
              <input class="form-control" name="team" placeholder="Name eingeben" ng-model="teamName" required>
            </div><!-- /.input group -->
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-success" ng-disabled="teamForm.$invalid" ng-click="createTeam()">Anlegen</button>
        </div>
      </form>

    </div><!-- /.box -->
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Übersicht</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span ng-if="!teamData.searching" class="glyphicon glyphicon-search"></span>
              <img ng-if="teamData.searching" src="images/loading.gif" width="14px" height="14px"></img>
            </div>
            <input type="text" class="form-control" placeholder="Suchen" ng-model="teamData.searchItem" ng-change="teamData.computeSearch()">
          </div>
        </div>

        <div class="form-group pull-left">
          <label class="text-success">Anzahl: {{ teamData.count }}</label>
        </div>

        <div class="form-group pull-right">
          <label class="text-success">{{ teamData.page+1 }}/{{ teamData.lastPage+1 }}</label>
          <div class="btn-group" role="group">
            <button ng-disabled="!teamData.backPossible()" type="button" class="btn" ng-click="teamData.back()">Zurück</button>
            <button ng-disabled="!teamData.forwardPossible()" type="button" class="btn" ng-click="teamData.forward()">Weiter</button>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="input-group pull-right">
          <select ng-model="teamData.pageSize" ng-change="teamData.pageSizeHasChanged()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <p ng-show="teamData.dtos.length < 1">keine Teams vorhanden</p>

        <table class="table table-bordered table-striped" ng-hide="teamData.dtos.length < 1" ng-if="!isAdmin()">
          <thead>
            <tr>
              <th>Team</th>
              <th>Größe</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in teamData.dtos">
              <td>{{ t.name }}</td>
              <td>{{ t.users.length }}</td>
              <td>keine Berechtigung</td>
            </tr>
          </tbody>
        </table>



        <table class="table table-bordered table-striped" ng-hide="teamData.dtos.length < 1" ng-if="isAdmin()">
          <thead>
            <tr>
              <th>Name</th>
              <th>Mitglieder</th>
              <th>Größe</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in teamData.dtos">
              <td>{{ t.name }}</td>
              <td class="col-xs-6">
                <button type="button" class="btn btn-sm btn-success" ng-if="t.users.length < 1" ng-click="createUser(t.id)"><i class="fa fa-plus"></i></button>

                <table class="table table-condensed" style="table-layout: fixed; background-color: transparent;" ng-if="t.users.length">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rollen</th>
                      <th>
                        <button type="button" class="btn btn-sm btn-success" ng-click="createUser(t.id)"><i class="fa fa-plus"></i></button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="u in t.users">
                      <td>{{ u.forename }} {{ u.surname }}</td>
                      <td ng-if="u.roles.length < 1">keine</td>
                      <td ng-if="u.roles.length">
                        <p ng-repeat="r in u.roles">{{ r.text }}</p>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-primary" ng-click="changeRoles(u.id, u.roles)" ng-disabled="loadingRoles()"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="removeUser(u.id)" ng-if="removeUserPossible(u.id)">Entfernen</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>{{ t.users.length }}</td>
              <td>
                <button class="btn btn-sm btn-default" ng-click="removeTeam(t.id)" ng-if="removeTeamPossible(t.id)">Entfernen</button>
              </td>
            </tr>
          </tbody>
        </table>


      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div><!-- /.col -->
</div><!-- /.row -->
