<div class="row">



  <div class="col-lg-6 col-xs-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Prioritäten der Szenarien festlegen</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div data-as-sortable="dragControlListeners" data-ng-model="team.scenarioPriority">
          <div data-ng-repeat="s in team.scenarioPriority" data-as-sortable-item>
            <div data-as-sortable-item-handle>
              <div class="jh-sortable-scenario-gradient"
                ng-style="{'background': '{{ s.background }}'}"></div>
              <span class="jh-sortable-scenario-text">{{ s.text }}</span>
            </div>
          </div>
        </div>

      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary" ng-click="saveScenarioPriority()">Speichern</button>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->






  <div class="col-lg-6 col-xs-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Team umbenennen</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <h4>{{ team.name }}</h4>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary" ng-click="renameTeam()">Umbenennen</button>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->





</div><!-- /.row -->
