<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Benutzer hinzufügen</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <form name="loginForm" novalidate>
        <div class="box-body">
          <div class="form-group" ng-class="{'has-error': loginForm.login.$invalid && loginForm.login.$touched, 'has-success': loginForm.login.$valid}">
            <label>Login</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input class="form-control" name="login" placeholder="Login eingeben" ng-model="loginName" required>
            </div><!-- /.input group -->
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="createUser()">Anlegen</button>
        </div>
      </form>
    </div><!-- /.box -->
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Übersicht</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span ng-if="!userData.searching" class="glyphicon glyphicon-search"></span>
              <img ng-if="userData.searching" src="images/loading.gif" width="14px" height="14px"></img>
            </div>
            <input type="text" class="form-control" placeholder="Suchen" ng-model="userData.searchItem" ng-change="userData.computeSearch()">
          </div>
        </div>

        <div class="form-group pull-left">
          <label class="text-success">Anzahl: {{ userData.count }}</label>
        </div>

        <div class="form-group pull-right">
          <label class="text-success">{{ userData.page+1 }}/{{ userData.lastPage+1 }}</label>
          <div class="btn-group" role="group">
            <button ng-disabled="!userData.backPossible()" type="button" class="btn" ng-click="userData.back()">Zurück</button>
            <button ng-disabled="!userData.forwardPossible()" type="button" class="btn" ng-click="userData.forward()">Weiter</button>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="input-group pull-right">
          <select ng-model="userData.pageSize" ng-change="userData.pageSizeHasChanged()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <p ng-show="userData.dtos.length < 1">keine Benutzer vorhanden</p>

        <table class="table table-bordered table-striped" ng-hide="userData.dtos.length < 1">
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>E-Mail</th>
              <th>Login</th>
              <th>Team</th>
              <th>Rollen</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="u in userData.dtos">
              <td>{{ u.forename }}</td>
              <td>{{ u.surname }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.login }}</td>
              <td>{{ u.team.name }}</td>
              <td ng-if="u.roles.length < 1">keine</td>
              <td ng-if="u.roles.length">
                <p ng-repeat="r in u.roles">{{ r.text }}</p>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" ng-click="changeRoles(u.id, u.roles)" ng-if="isAdmin()" ng-disabled="loadingRoles()"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-sm btn-default" ng-click="removeUser(u.id)" ng-if="removeUserPossible(u)">Entfernen</button>
                <span ng-if="!removeUserPossible(u) && (u.id != userId)">keine Berechtigung</span>
                <span ng-if="!isAdmin() && (u.id == userId)">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->


  </div><!-- /.col -->
</div><!-- /.row -->
