.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 5px;
    padding: 1px 20px 1px 20px;
}

.as-sortable-item {
    border: solid 1px darkgrey;
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.jh-sortable-scenario-gradient {
  display: inline-block;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  margin-right: 10px;
  margin-top: 5px;
}

.jh-sortable-scenario-text {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  margin-top: 5px;
}
